<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteRule ^tag-(.*?)\.html$ tag.php?name=$1 [L,QSA]
	RewriteRule ^tag\.html$ tag.php [L,QSA]

	<IfModule mod_env.c>
		SetEnv SEO_SUPPORT 1
	</IfModule>
</IfModule>
